# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
.venv/
venv/

# IDE or editor-specific files
.vscode/
.idea/

# macOS metadata files
.DS_Store
